<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/flowlist.css">
<script src="/js/jquery.js"></script>
<script src="/js/flowlist.js"></script>
<style>
{% for clock in clocks %}
#clock{{loop.index}} {
  left: {{ loop.index0 * 100 }}%;
}
{% endfor %}
</style>
</head>
<body>
{% for clock in clocks %}
<div class="clock" id="clock{{ loop.index }}">
  {% if not loop.first %}
    <a href="#clock{{ loop.index - 1 }}" class="back-link">◀</a>
  {% endif %}
  <iframe src="{{ clock.url }}" ></iframe>
  {% if not loop.last %}
    <a href="#clock{{ loop.index + 1}}" class="next-link">▶</a>
  {% endif %}
</div>
{% endfor %}
</body>
